<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<title>主页</title>

		<!--CSS-->
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" />
		<link rel="stylesheet" href="__PUBLIC__/admin/css/global.css" />

		<!--JS-->
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
	</head>

	<body>
		<div class="layui-main my-admin">
			<div class="layui-tab my-tab">
				<div class="my-title-box">
					<h5 class="my-title">编辑分类</h5>
					<a href="javascript:history.go(-1);" class="layui-btn layui-btn-small layui-btn-normal"><i class="layui-icon">&#xe65c;</i></a>
				</div>
				<div class="my-content">
					<form method="post" class="layui-form" action="">
						<table class="layui-table">
							<colgroup>
								<col width="10%" />
								<col />
							</colgroup>
							<tr>
								<td align="right">分类名称：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<input type="text" name="cat_name" lay-verify="required" value="{$category.cat_name}" class="layui-input" placeholder="分类名称" />
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">选择模型：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<volist name="module_list" id="module">                                            
		                                        <if condition="$module.id eq $category.mod_id"> <input type="radio" name="mod_id" value="{$module.id}" title="{$module.name}" checked="checked"></if>
		                                    </volist>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">上级分类：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<select name="parent_id_1" id="parent_id_1" lay-filter="parent_id_1">
			                                    <option value="0">顶级分类</option>
			                                    <volist name="cat_list" id="vo">                                            
			                                        <option value="{$vo.cat_id}">{$vo.cat_name}</option>
			                                    </volist>                                            
											</select>
										</div>
										<div class="layui-input-inline">
											<select name="parent_id_2" id="parent_id_2" lay-filter="parent_id_2">
			                                	<option value="0">请选择分类</option>
			                              	</select> 
										</div>
										<div class="layui-form-mid layui-word-aux">选择父级分类</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">分类图片：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<input type="text" name="cat_thumb" class="layui-input" value="{$category.cat_thumb}" placeholder="分类图片" />
										</div>
										<a href="javascript:;" class="layui-btn" id="uploadcimg">上传</a>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">排序：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<input type="text" name="sort_order" lay-verify="required" value="{$category.sort_order}" class="layui-input" placeholder="排序" />
										</div>
										<div class="layui-form-mid layui-word-aux">正序排序，越小越靠前</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">导航显示：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<input type="radio" name="is_show" value="1" <if condition="($category.is_show) eq 1"> checked="checked" </if> title="是">
  											<input type="radio" name="is_show" value="0" <if condition="($category.is_show) eq 0"> checked="checked" </if> title="否">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">是否推荐：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<input type="radio" name="is_hot" value="1" <if condition="($category.is_hot) eq 1"> checked="checked" </if> title="是">
  											<input type="radio" name="is_hot" value="0" <if condition="($category.is_hot) eq 0"> checked="checked" </if> title="否">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="right">分类描述：</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<textarea name="cat_desc" class="layui-textarea" placeholder="分类描述">{$category.cat_desc}</textarea>
										</div>
										<div class="layui-form-mid layui-word-aux">对分类做一个介绍吧</div>
									</div>
								</td>
							</tr>
							<input type="hidden" name="cat_id" value="{$category.cat_id}"/>
							<tr>
								<td align="right">&nbsp;</td>
								<td>
									<div class="layui-form-item">
										<div class="layui-input-inline my-input-line">
											<button class="layui-btn" lay-submit="" data-url="{:url('/category/editcategory')}" lay-filter="editcategory">保存</button>
											<button type="reset" class="layui-btn layui-btn-danger">重置</button>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		
		layui.use(['element','form'],function(){
			var element = layui.element,
				$ = layui.jquery,
				form = layui.form;
			
			<if condition="isset($level_cat['2']) and $level_cat['2'] gt 0">	
				// 如果当前是二级分类就让一级父id默认选中
				$("#parent_id_1").val('{$level_cat[1]}');
				var url = '/category/getCategory/parent_id/'+ {$level_cat[1]};
				
				$.ajax({
			        type : "GET",
			        url  : url,
			        error: function(request) {
			            alert("服务器繁忙, 请联系管理员!");
			            return;
			        },
			        success: function(v) {
						v = "<option value='0'>请选择分类</option>" + v;
			            $('#parent_id_2').html(v);
			            
			            form.render('select');
			        }
			   });
			</if>	 
			<if condition="isset($level_cat['3']) and ($level_cat['3'] gt 0) ">
				// 如果当前是三级分类就一级和二级父id默认 都选中
				$("#parent_id_1").val('{$level_cat[1]}');	
				
				var url = '/admin/category/getCategory/parent_id/'+ {$level_cat[1]};
				$.ajax({
			        type : "GET",
			        url  : url,
			        error: function(request) {
			            alert("服务器繁忙, 请联系管理员!");
			            return;
			        },
			        success: function(v) {
						v = "<option value='0'>请选择分类</option>" + v;
			            $('#parent_id_2').html(v);
			            $("#parent_id_2").val('{$level_cat[2]}');
			            form.render('select');
			        }
			   });
			</if>
		});
		
		layui.config({
			base: '__PUBLIC__/admin/js/modules/' //你存放新模块的目录，注意，不是layui的模块目录
		}).use('category'); //加载入口
	</script>
</html>