<div class="layui-footer footer footer-demo" id="admin-footer">
				<div class="layui-main">
					<p>{:date('Y')} &copy;
						<a href="http://www.haowenwan.com/">www.haowenwan.com</a> 宋唐科技
					</p>
				</div>
			</div>
			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>
			
			<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
			<script src="__PUBLIC__/admin/js/fun.js"></script>
		</div>
	</body>
</html>