<header class="header">
	<img src="__PUBLIC__/home/images/img/ico.png" class="icon">
	<ul class="head-list">
		<li><a href="{:url('/home/index')}">首页</a></li>
		<li><a href="">分论坛 <span class="triangle-up"></span></a></li>
		<li><a href="{:url('/page/1')}">简介</a></li>
		<li><a href="{:url('/page/2')}">议程</a></li>
		<li><a href="{:url('/news')}">媒体报道</a></li>
		<li><a href="{:url('/place')}">领票点</a></li>
		<li><a href="{:url('/home/cooperation')}">商务合作</a></li>
		<li><a href="{:url('/my')}">我的账号</a></li>
		<li><a href="{:url('/home/cooperation/booth')}">展位</a></li>
		<li><a href="">中文/EN</a></li>
	</ul>
</header>