<!--尾部-->

	<footer>

		<div class="footer">

			<div class="wrap">

				<img src="__PUBLIC__/home/images/fb.png">

				<p class="textc font14 col868" style="color:#444;">©2005-2025 河南创业者大会版权所有 &nbsp;豫ICP备16026558号</p>

			</div>

		</div>

	</footer>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274002528'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1274002528%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	</body>

</html>