<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=”renderer” content=”webkit”>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>创业者大会</title>
	<link rel="stylesheet" type="text/css" href="/public/home/style/index.css">
	<script src="__PUBLIC__/home/js/jquery.min.js"></script>
</head>
<body>
<div class="box">
	<img src="/public/home/images/img/ico.png" class="icon">
	<ul class="head-list">
		<li><a href="{:url('/home/index')}">首页</a></li>
		<li><a href="">分论坛 <span class="triangle-up"></span></a></li>
		<li><a href="{:url('/page/1')}">简介</a></li>
		<li><a href="{:url('/page/2')}">议程</a></li>
		<li><a href="{:url('/news')}">媒体报道</a></li>
		<li><a href="{:url('/place')}">领票点</a></li>
		<li><a href="{:url('/home/cooperation')}">商务合作</a></li>
		<li><a href="{:url('/my')}">我的账号</a></li>
		<li><a href="">展位</a></li>
		<li><a href="">中文/EN</a></li>
	</ul>
	<div class="content">
		<div>
			<img src="/public/home/images/img/left-banner.png" class="left-banner">
			<img src="/public/home/images/img/right-banner.png" class="right-banner">
			<img src="/public/home/images/img/logo.png" class="logo">
		</div>
		<div class="content-tit">
			<div class="content-txt">
				<div class="date fl">8.18</div>
				<div class="fl text-left">
					<div>郑州</div>
					<div>国际会展中心</div>
				</div>
			</div>
		</div>
		<div>
			<a href="" class="btn">立即抢票<i class="arrow"></i></a>
		</div>
	</div>
</div>
<div class="man">
	<div class="show-list">
		<div class="show-box">
			<img src="/public/home/images/img/black-left.png">
			<span class="f60">嘉宾阵容</span>
			<img src="/public/home/images/img/black-right.png">
		</div>
		<div class="man-ul">

			<ul class="clean">
				<volist name="guestList" id="vo">
					<li class="fl">
						<img src="{$vo.thumb}" class="man-img">
						<div class="man-desc text-left" style="display: none">
							<h1>{$vo.title}</h1>
							<div class="man-textdesc">
								<div class="line"></div>
								<p>{$vo.subtitle}</p>
								<p>参会嘉宾</p>
							</div>
						</div>
					</li>
				</volist>
			</ul>

		</div>
	</div>
	<div class="zone-list">
		<ul class="clean text-left">
			<li>
				<a href="">
					<img src="/public/home/images/img/zone1.png" class="zone">
					<img src="/public/home/images/img/right-arrow.png" class="right-arrow">
					<img src="/public/home/images/img/btc.png" class="btc">
					<div class="zone-tit">
						<p>区块链</p>
						<p>专场</p>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/public/home/images/img/zone2.png" class="zone">
					<img src="/public/home/images/img/right-arrow.png" class="right-arrow">
					<div class="zone-tit">
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/public/home/images/img/zone3.png" class="zone">
					<img src="/public/home/images/img/right-arrow.png" class="right-arrow">
					<div class="zone-tit">
					</div>
				</a>
			</li>
		</ul>

	</div>
</div>
<div class="partner">
	<div class="show-box text-center">
		<img src="/public/home/images/img/black-left.png">
		<span class="f60">合作伙伴</span>
		<img src="/public/home/images/img/black-right.png">
		<div class="par-list text-left">

			<volist name="partList" id="vo">
				<div class="par-listInfo">
					<div class="par-tit">
						<div class="zhu"></div>
						<span>{$vo.name}</span>
					</div>
					<div>
						<ul>
							<volist name="$vo.children" id="sub">
								<li><img src="{$sub.thumb}" class="yun"></li>
							</volist>

						</ul>
					</div>
				</div>
			</volist>
		</div>
	</div>
</div>
<div class="back">

	<div class="backInfo">
		<div class="show-box text-center">
			<img src="/public/home/images/img/white-left.png">
			<span class="f60">往届回顾</span>
			<img src="/public/home/images/img/white-right.png">
		</div>
		<div class="card-list">
			<ul class="clean">
				<li>
					<div>
						<img src="/public/home/images/img/c1.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">615</p>
					<p class="card-desc">演讲嘉宾</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c2.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">2000+</p>
					<p class="card-desc">参会人员</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c3.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">2000+</p>
					<p class="card-desc">参与企业</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c4.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">615</p>
					<p class="card-desc">媒体</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c5.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">720家</p>
					<p class="card-desc">品牌参与</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c3.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">120家</p>
					<p class="card-desc">新媒体</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c4.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">2000+</p>
					<p class="card-desc">稿件发布</p>
				</li>
				<li>
					<div>
						<img src="/public/home/images/img/c8.png" class="card-img">
					</div>
					<div class="card-line"></div>
					<p class="card-num">615</p>
					<p class="card-desc">曝光次数</p>
				</li>
			</ul>
		</div>
		<div class="back-meet">
			<div class="meet-list meet1">
				<h2 class="meet-tit">第五季河南创业者大会</h2>
				<p class="meet-num">3000人参加</p>
			</div>
			<div class="meet-list meet2">
				<h2 class="meet-tit">第五季河南创业者大会</h2>
				<p class="meet-num">3000人参加</p>
			</div>

		</div>
	</div>
	<img src="/public/home/images/img/zhuzi.png" class="zhuzi">

</div>
<div class="msg">
	<div class="show-box text-center">
		<img src="/public/home/images/img/black-left.png">
		<span class="f60">大会信息</span>
		<img src="/public/home/images/img/black-right.png">
	</div>
	<div class="map">
		<div class="map-info">
			<img src="/public/home/images/img/map.png" class="map-img">
			<div class="map-text">
				<p>时间:2018年8月8日</p>
				<p>地点:郑州国际会展中心</p>
			</div>
		</div>
		<div class="map-r">
			<img src="/public/home/images/img/ting.png" class="ting">
			<div class="map-box">
				<div class="map-line"></div>
				<p>招商：18012345678</p>
				<p>投诉：0371-61234567</p>
				<p>QQ群：河南创业者群1：645612</p>
				<div class="map-line"></div>
				<p>主题：区块链   共享经济</p>
				<p>规模：1万人</p>
			</div>
		</div>
	</div>
</div>
<div class="bg-gray"></div>
<div class="touch">
	<div class="show-box text-center">
		<img src="/public/home/images/img/white-left.png">
		<span class="f60">联系我们</span>
		<img src="/public/home/images/img/white-right.png">
	</div>
	<div class="ours">
		<ul>
			<li class="ours-li">
				<img src="/public/home/images/img/douhao.png" class="douhao">
				<div class="our-list">
					<h1 class="our-tit">会务合作</h1>
					<div class="our-line"></div>
					<div class="our-textInfo">
						<p>赵亚辉</p>
						<p>176 9808 5508</p>
						<p>fgw@qq.com</p>
					</div>

				</div>
			</li>
			<li class="ours-li">
				<img src="/public/home/images/img/douhao.png" class="douhao">
				<div class="our-list">
					<h1 class="our-tit">领票/报名</h1>
					<div class="our-line"></div>
					<div class="our-textInfo">
						<p>赵亚辉</p>
						<p>176 9808 5508</p>
						<p>fgw@qq.com</p>
					</div>

				</div>
			</li>
			<li class="ours-li">
				<img src="/public/home/images/img/douhao.png" class="douhao">
				<div class="our-list">
					<h1 class="our-tit">商务合作</h1>
					<div class="our-line"></div>
					<div class="our-textInfo">
						<p>赵亚辉</p>
						<p>176 9808 5508</p>
						<p>fgw@qq.com</p>
					</div>

				</div>
			</li>
			<li class="ours-li">
				<img src="/public/home/images/img/douhao.png" class="douhao">
				<div class="our-list">
					<h1 class="our-tit">媒体合作</h1>
					<div class="our-line"></div>
					<div class="our-textInfo">
						<p>赵亚辉</p>
						<p>176 9808 5508</p>
						<p>fgw@qq.com</p>
					</div>

				</div>
			</li>
		</ul>
	</div>
</div>
<footer class="foot text-center">
	<p class="f25">创业者大会</p>
	<p>@2014-2019 IHCN创业者大会版权所有  豫ICP备18035645号-1</p>
	<p>增值电信业务许可证  豫B2-20190025</p>
</footer>
</body>
<script type="text/javascript">
	$('.man-img').mousemove(function () {
		$('.text-left').hide();
		$(this).next().show();
	})
</script>
</html>