<footer class="foot">
	<ul class="foot-list">
		<li>
			<a href="/mobile/index.html">
				<img src="__PUBLIC__/mobile/index/h1.png">
				<p class="link-tit">首页</p>
			</a>
		</li>
		<li>
			<a href="/mobile/index.html">
				<img src="__PUBLIC__/mobile/index/h2.png">
				<p class="link-tit">分论坛</p>
			</a>
		</li>
		<li>
			<a href="/mobile/exhibition.html">
				<img src="__PUBLIC__/mobile/index/h3.png">
				<p class="link-tit">展会</p>
			</a>
		</li>
		<li>
			<a href="/mobile/place.html">
				<img src="__PUBLIC__/mobile/index/h4.png">
				<p class="link-tit">领票点</p>
			</a>
		</li>
		<li>
			<a href="/mobile/page/2.html">
				<img src="__PUBLIC__/mobile/index/h5.png">
				<p class="link-tit">议程</p>
			</a>
		</li>
		<li>
			<a href="/mobile/my.html">
				<img src="__PUBLIC__/mobile/index/w/select-mine.png">
				<p class="link-tit">我的</p>
			</a>
		</li>
	</ul>
</footer>