<ul class="clearfix">
	<li><a href="{$website.url}" title="{$website.title}" <eq name="$nav" value="0"> class="active" </eq>>首页</a></li>
	<volist name="list" id="vo">
		<li>
			<switch name="$vo.cat_id" >
				<case value="1|2">
					<a href="{:url('/page/'.$vo.cat_id)}" title="{$vo.cat_name}" <eq name="$nav" value="$vo.cat_id"> class="active" </eq>>{$vo.cat_name}</a></li>
				</case>
				<case value="3">
					<a href="{:url('/guest')}" title="{$vo.cat_name}" <eq name="$nav" value="$vo.cat_id"> class="active" </eq>>{$vo.cat_name}</a></li>
				</case>
				<case value="5">
					<a href="{:url('/news')}" title="{$vo.cat_name}" <eq name="$nav" value="$vo.cat_id"> class="active" </eq>>{$vo.cat_name}</a></li>
				</case>
				<case value="6">
					<a href="{:url('/place')}" title="{$vo.cat_name}" <eq name="$nav" value="$vo.cat_id"> class="active" </eq>>{$vo.cat_name}</a></li>
				</case>
				<case value="4|7">
					<a href="{:url('/partner/'.$vo.cat_id)}" title="{$vo.cat_name}" <eq name="$nav" value="$vo.cat_id"> class="active" </eq>>{$vo.cat_name}</a></li>
				</case>
			</switch>
		</li>
	</volist>
</ul>

<nav>
	<div class="nav-fotter clearfix">
		<ul class="clearfix">
			<li><a href="/page/1.html">介绍</a></li>
			<li><a href="/guest.html">嘉宾</a></li>
			<li><a href="/page/2.html">议程</a></li>
			<li><a href="/place.html">领票点</a></li>
			<li><a href="news.html">动态</a></li>
			<li class="active"><a href="#">我的</a></li>
		</ul>
	</div>
</nav>
