<include file="public/header" title="{$seo.cat_name} - {$website.title}" keywords="{$seo.keywords}" description="{$seo.cat_desc}"/>

	<div class="banner-wrap clearfix"></div>



	<!-- 动态 -->
<form id="formcop" method="post" action="">
	<input type="text" name="name" placeholder="姓名">
	<input type="text" name="company" placeholder="公司">
	<input type="text" name="position" placeholder="职位">
	<input type="text" name="tel" placeholder="联系方式">
	<select name="cooperation_ways">
		<option value="1">冠名/分论坛冠名</option>
		<option value="2">主办方</option>
		<option value="3">协办方</option>
		<option value="4">参展方</option>
	</select>
</form>

<include file="public/footer"/>