body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #fff;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;font-size:50px;overflow-x: hidden;background: #f7f8fa;width: 100%;}
body{line-height:1.5;font-size:16px;overflow-x: hidden;background: #f7f8fa;width: 100%;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
    input{line-height:normal!important;}
}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
.text-center{
    text-align: center;
}
.head{
    height: 1.26rem;
    background: #000;
    color: #fff;
    line-height: 1.26rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.head .logo{
    width: 22.6%;
    vertical-align: middle;
    margin-left: 3%;
}
.head .ticket{
    width: 18%;
    height: .56rem;
    background: url('../index/bg-btn.png') center no-repeat;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-left:36%;
    font-size: .26rem;
    color: #fff;
    margin-right: 3%;
}
.head span{
    font-size: .22rem;
}
.home{
    height: 100%;
    height: calc(100vh - 1.26rem);
    margin-top: 1.26rem;
    background: url('../index/bg-hom.png') center no-repeat;
    background-size: cover;
    color: #fff;
}
.home .lg-home{
    width: 3.9rem;
    margin-top: 1.7rem;
}
.home .home-tit{
    font-size: .74rem;
    letter-spacing: 2px;
    margin-top: .1rem;
    font-weight: bold;
}
.home .home-site{
    font-size: .26rem;
    margin-top: .2rem;
    letter-spacing: 1px;
}
.home .home-catch{
    width: 3.6rem;
    height: .9rem;
    background: url('../index/catch.png') center no-repeat;
    outline: none;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: .28rem;
    margin-top: .3rem;
    letter-spacing: 1px;
}
.home .arrow{
    width: .24rem;
    vertical-align: baseline;
}
.home .cl-red{
    color: #fe5a2c;
}
.home .btn-an{
    width: 1.1rem;
    margin-top: .9rem;
}
.foot{
    height: 1.04rem;
    background: rgba(57,25,25,.9);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    color: #fff;
    font-size: .2rem;
    z-index: 10;
}
.foot .foot-list{
    display: flex;
    justify-content: space-around
}
.foot-list li{
    width: 16.6%;
    text-align: center;
    margin-top: .14rem;
}
.foot .foot-list img{
    width: .46rem;
    height: .46rem;
    vertical-align: middle;
}
.foot .link-tit{
    margin-top: .04rem;
}
.aside{
    position: fixed;
    bottom: 1.2rem;
    right: .22rem;
    z-index: 10;
}
.aside img{
    width: .84rem;
    height: .84rem;
    margin-top: .12rem;
}
.aside .r1{
    width: .74rem;
    height: .74rem;
    margin-bottom: .12rem;
}
.content{
    text-align: center;
}
.section-tit{
    margin-top: .7rem;
    font-size: .38rem;
    margin-bottom: .4rem;
    font-weight: bold;
}
.section-tit img{
    width: .86rem;
    vertical-align: middle;
}
.zone img{
    width: 30%
}
/*.user-list img{*/
    /*width: 30%;*/
    /*margin-bottom: .2rem;*/
/*}*/
.user-list{
    text-align: center;
    color: #fff;
    font-size: .15rem;
}
.user-list .user-infos{
    display: inline-block;
    width: 30%;
    height: 2.7rem;
    margin-right: 1%;
    margin-bottom: .2rem;
    position: relative;
    background-size: cover;
    text-align: left;
}
.user-list .user-infos p{
    padding-left: .24rem;
}
.user-list .user-infos .u-name{
    font-size: .32rem;
    font-weight: bold;
    margin-top: 1.2rem;
}
.user-list .user-infos .u-line{
    width: .5rem;
    height: .04rem;
    border-radius: 4px;
    background: #fff;
    margin-left: .24rem;
}
.partner{
    padding: 0 .36rem;
    text-align: left;
}
.orange{
    display: inline-block;
    width: .08rem;
    height: .3rem;
    background: #fe5a2c;
}
.partner-tit{
    font-size: .32rem;
    font-weight: bold;
    margin-left: .18rem;
}
.partner-list{
    margin-bottom: .28rem;
}
.partner-img {
    margin-bottom: .5rem;
}
.partner-img img{
    width: 30%;
    margin-bottom: .1rem;
}
.back{
    color: #fff;
    background: #111a51;
}
.back .section-tit{
    padding-top: .5rem;
}
.back-list{
    margin-top: .2rem;
    padding: 0 .3rem;
    display: flex;
    justify-content: space-between;
}
.back-info{
    width: 23%;
    height: 2rem;
    background: #18215a
}
.back-info img{
    width: .6rem;
    margin-top: .3rem;
}
.back-line{
    width: .3rem;
    height: .04rem;
    border-radius: 8px;
    background: #8c90ad;
    margin: .08rem auto .18rem;
}
.back-num{
    font-size: .25rem;
}
.back-desc{
    font-size: .18rem;
    color: #8c90ad
}
.o-img{
    margin-top:.4rem;
    padding-bottom:.54rem;
    position:relative;
    padding-left:5.6%;
    text-align:left;
}
.o-img>div{
    float:left;
    width:5.35rem;
    height:3.2rem;
    margin-right:.4rem;
    position:relative;
}
.o-img>div img{
    width: 100%;
    height: 100%;
}
.o-img>div>div{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.o-img>div>div>hr{
    height:0px; border-top:1px solid #eee; border-right:0px; border-bottom:0px; border-left:0px;
}
.map{
    width: 90%;
    margin: .46rem auto .7rem;
}
.us{
    background: #111a51;
    color: #fff;
    position: relative
}
.our-box{
    padding: 0 .6rem;
}
.our-box ul{
    display: flex;
    justify-content: space-between;
}
.our-box li{
    width: 40%;
    height: 2.8rem;
    background: url('../index/our.png') center no-repeat;
    background-size: contain;
    padding-top: 1.5rem;
    padding-left: .54rem;
    text-align: left;
    font-size: .2rem;
    line-height: 1.86;
}


.our-tit{
    font-size: .28rem;
    font-weight: bold;
}
.our-line{
    width: .7rem;
    height: .03rem;
    border-radius: 4px;
    background: #fff;
}
.end{
    color: #2e3669;
    font-size: .16rem;
    padding-bottom: .3rem;
}
.end-tit{
    font-size: .26rem;
    font-weight: bold;
}
.green{
    width: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*ע�ᱨ��ҳ*/
.text-center{
    text-align: center;
}
.orange{
    color: #fe5a2c;
}
.fl{
    float: left;
}
.fr{
    float: right;
}




.sign{
    height: 100%;
    height: calc(100vh - 1.26rem);
    padding-top: 1.26rem;
    background: url('../index/bg-hom.png') center no-repeat;
    background-size: cover;
}
.sign-box{
    width: 90%;
    height: 10rem;
    height: 90%;
    background: #fff;
    margin: .4rem auto 0;
    border-radius: 0.2rem;
}
.sign-box form{
    padding: .2rem .4rem;
}
.form-list{
    height: 1.4rem;
    border-bottom: 1px solid #ccc;
    margin-top: .4rem;
}
.tit{
    font-size: .34rem;
    font-weight: bold;
}
input{
    border: none;
    outline: none;
    height: .6rem;
    font-size: .28rem;
}
input::-webkit-input-placeholder{
    color:#ededed;
    font-size: .28rem;
}
input::-moz-placeholder{
    color:#ededed;
    font-size: .28rem;
}
input:-moz-placeholder{
    color:#ededed;
    font-size: .28rem;
}
input:-ms-input-placeholder{
    color:#ededed;
    font-size: .28rem;
}
.note{
    font-size: .2rem;
    color: #a0a0a0;
    margin-top: .18rem;
}
.submit{
    margin-top: .7rem;
    width: 6rem;
    height: 1.2rem;
    background: url('../index/w/sign-sub.png') center no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
    color: #fff;
}

.user .user-name{
    font-size: .46rem;
    font-weight: bold;
}
.user .user-desc{
    font-size: .24rem;
}
.user .quit{
    width: 1.3rem;
    height: .55rem;
    border: 1px solid #fff;
    outline: none;
    border-radius: .3rem;
    margin-top: .24rem;
    font-size: .2rem;
    padding: .06rem .2rem;
    background: transparent;
    color: #fff;
}
.man .btnlist{
    width: 96%;
    height: 1.5rem;
    background: #f7f8fa;
    position: absolute;
    bottom: 0;
    left: 2%;
}
.btnlist .group{
    width: 4.8rem;
    height: .7rem;
    border-radius: .4rem;
    margin: .32rem auto 0;
    background: #ebecf5;
    overflow: hidden;
}
.group .list-info{
    height: .7rem;
    line-height: .7rem;
    color: #000;
    font-size: .26rem;
    text-align: center;
    display: inline-block;
    width: 42%;
    font-weight: bold;
    border-radius: .4rem;
}
.group .activit{
    background: #405df6;
    color: #fff;
}
.groups {
    padding: 0 6%;
}
.list-ul{
    margin-top: -.1rem;
    display: flex;
    justify-content: space-around
}
.list-ul li{
    width: 2.1rem;
    height: 2.7rem;
    background: #fff;
    text-align: center;
}
.list-ul li img{
    margin-top: .22rem;
    width: 1.08rem;
}
.list-ul li p{
    font-size: .5rem;
    font-weight: bold;
    margin-bottom: -.1rem;
}
.list-ul li div{
    font-size: .24rem;
    color: #919191
}
.differ{
    margin-top: .5rem;
    font-size: .26rem;
    overflow: hidden;
    padding-bottom: .4rem;
    border-bottom: 1px solid #dddddd;
}
.differ .mt{
    margin-top: .26rem;
}
.differ .goto{
    width: 2.14rem;
    height: .8rem;
    background: #ea653d;
    color: #fff;
    outline: none;
    border: none;
}
.my-invit{
    font-size: .4rem;
    font-weight: bold;
    margin: .44rem 0;
}
.table{
    width: 100%;
    margin-top: .36rem;
    border: 1px solid #e8ebf1;
    color: #000;
    text-align: center;
    font-size: .18rem;
    margin-bottom: 1rem;
}
.table th, .table td{
    width: 33%;
    height: .7rem;
    border: none;
}
.table th{
    background: #e8ebf1
}
.table tr:nth-child(2n){
    background: #f7f8fa;
}
.dialog{
    display: none;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.dialog .dialog-box{
    width: 6.5rem;
    height: 7rem;
    background: #fff;
    margin: 2.7rem auto 0;
    border-radius: .2rem;
    text-align: center
}
.plus{
    display: block
}
.copy{
    display: none;
    position: relative;
}
.sun{
    width: 1.5rem;
    margin: .6rem auto .4rem;
}
.dialog-tit{
    font-size: .52rem;
    font-weight: bold
}
.dialog-text{
    font-size: .26rem;
    color: #999;
    margin-bottom: .42rem;
}
.dialog-box button{
    width: 2.64rem;
    height: 1rem;
    font-size: .34rem;
    color: #fff;
    border: none;
    outline: none
}
.make-btn{
    background: #ea653d
}
.copy-btn{
    background: #000;
}
.copy .copy-tit{
    font-size: .48rem;
    font-weight: bold;
    padding: .7rem 0;
}
.copy-text{
    color: #999;
    font-size: .26rem;
    margin-bottom: .3rem;
}
.close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    width: .3rem;
}
.copy-link{
    width: 5.86rem;
    height: .74rem;
    background: #f5f5f5;
    border-radius: .5rem;
    margin: 0 auto;
    line-height: .74rem;
    font-size: .25rem;
}
.copy-this{
    width: 3.4rem;
    height: .9rem;
    background: #ea653d;
    font-size: .34rem;
    color: #fff;
    border: none;
    outline: none;
    margin: .34rem 0 .66rem;
}
.copy .tip{
    font-size: .24rem;
}

 .contentArea {
     padding: 1.76rem 0.4rem 1.2rem;
 }
.contentArea .ticketTitle {
    font-size:0.5rem;
    font-family:PingFangSC-Semibold;
    font-weight:bold;
    color:rgba(0,0,0,1);
}
.contentArea .lineBottom {
    width: 0.98rem;
    height: 0.08rem;
    background-color: #405DF6;
    margin-top: 0.2rem;
}
.contentArea .tipsTicket {
    font-size:0.28rem;
    font-family:PingFangSC;
    font-weight:bold;
    color:rgba(153,153,153,1);
}
.contentArea .placeList{
    background-color: #fff;
    padding: 0.56rem 0.1rem 0.56rem 0.2rem;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    margin-top: 0.5rem;
}
.contentArea .placeList .placeItem {
    display: inline-block;
    width:1.6rem;
    height:0.64rem;
    border-radius:0.32rem;
    text-align: center;
    line-height: 0.64rem;
    font-size:0.24rem;
    font-family:PingFangSC;
    font-weight:bold;
    color:#333;
    margin: 0.12rem 0.05rem;
    background: #F6F6F6;
}
.contentArea .placeList .yellowColorItem{
    background:rgba(234,101,61,1);
    color: #fff;
}
.contentArea .detailItem {
    padding-top: 0.1rem;
}
.contentArea .DetailPlace .detailItem {
    padding-top: 0.48rem;
    padding-bottom: 0.4rem;
    border-bottom:1px solid rgba(221,221,221,1);
}
.contentArea .DetailPlace .detailItem .ticketNum {
    font-size:0.26rem;
    font-family:PingFangSC;
    font-weight:bold;
    margin-bottom: 0.24rem;
}
.contentArea .DetailPlace .detailItem .ticketNum p:first-child{
    display: inline-block;
    color: #999;
    padding-right: 0.25rem;
    border-right: 1px solid rgba(220,220,220,1); ;
}
.contentArea .DetailPlace .detailItem .ticketNum p:last-child{
    display: inline-block;
    color: #EA653D;
    padding-left: 0.2rem;
}
.contentArea .DetailPlace .detailItem .ticketNum img{
    width: 0.12rem;
    height: 0.06rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1rem;
}
.contentArea .DetailPlace .detailItem .placeName {
    font-size:0.28rem;
    font-family:PingFangSC;
    font-weight:bold;
    color:rgba(0,0,0,1);
}
/*展位*/
 .contentArea{
     padding-top: 1.26rem;
     height: 600px;
 }
.contentArea .headerNextImg {
    height: 2.82rem;
    background: url("../index/s/headerImg.png") no-repeat;
    background-size: 100% 100%;
}
.contentArea .showImg {
    /*background-color: #fff;*/
    height: 7.2rem;
}
.contentArea .showImg .imgBtn {
    position: relative;
    top:-0.98rem;
    width: 7.2rem;
    padding: 0.52rem 0.38rem 0;
    box-sizing: border-box;
    background-color: #f7f8fa;
    height: 7.72rem;
    margin: auto;

}
.contentArea .showImg .imgBtn .titleName{
    font-size:0.4rem;
    font-family:PingFangSC-Semibold;
    font-weight:bold;
    color:rgba(0,0,0,1);
    margin-bottom: 0.38rem;
}
.contentArea .showImg .imgBtn .blowContent {
    background-color: #fff;
    padding-bottom: 0.2rem;
}
.contentArea .showImg .imgBtn img{
    width: 100%;
}
.contentArea .showImg .imgBtn .goShower{
    margin: auto;
    margin-top: 0.2rem;
    width:3.14rem;
    height:0.8rem;
    background:rgba(236,101,61,1);
    font-size:0.26rem;
    font-family:STHeitiSC-Medium;
    font-weight:bold;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 0.8rem;
}
.contentArea .showImg .imgBtn .goShower img{
    display: inline-block;
    width: 0.2rem;
    height: 0.18rem;
    vertical-align: middle;
}

.goEnterprise {
    padding: 0 0.52rem;
    box-sizing: border-box;
}
.goEnterprise .titleItem{
    font-size:0.4rem;
    font-family:PingFangSC-Semibold;
    font-weight:bold;
    color:rgba(0,0,0,1);
    margin-bottom: 0.34rem;
}
.enterpriseList {
    background-color: #fff;
    padding: 8px 7px;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.enterpriseList ul li{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom:1px solid rgba(236,236,236,1);
}
.enterpriseList ul li:last-child {
    border: none;
}
.enterpriseList ul li img{
    width: 1.56rem;
    height: 1.14rem;
}
.enterpriseList ul li .name_position {
    width: 4.6rem;
    padding-left: 0.38rem;
}