<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<!-- Safari浏览器私有meta属性 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="APP name">
	<meta name="author" content="创业者大会">
	<meta name="keywords" content="{$res.keywords}" />
	<meta name="description" content="{$res.desc}" />
	<!-- <script src="__PUBLIC__/mobile/js/hotcss.js"></script> -->
	<script src="__PUBLIC__/mobile/js/jquery-2.1.1.min.js"></script>
	<!-- <script src="__PUBLIC__/mobile/js/touch.js"></script> -->
	<script src="__PUBLIC__/mobile/js/jsrem.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/style/reset.css?ver=06111957">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/style/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/style/style.css?ver=06111957">
	<title>{$res.title}</title>
	<style>
		img{
			width: 100%;
		}
	</style>
</head>
<body style="background: #0C0C0C">
<!-- back top -->
<a <if condition="session('userid') neq ''">href="/mobile/my.html"<else/>href="/mobile/online.html"</if> class="back-top" style="z-index: 999; position: fixed; right: 0.2rem; bottom: 1.2rem; display: block; text-align: center; line-height: 0.8rem; font-size: 0.22rem; color:#ffffff; width: 1rem; height: 1rem; background: rgba(0,0,0,0.5); border-radius: 100%;border-radius: 100%;">
<img src="__PUBLIC__/mobile/images/robbtn.png" style="width: 1rem;height: 1rem;">
</a>
<div style="font-size: 0;margin-bottom: 0.9rem;">
{$res.content}
	<div style="clear: both"></div>
</div>
<include file="public/nfooter"/>

</body>
</html>
