<include file="public/header" title="在线报名 - {$website.title}" keywords="{$website.keywords}" description="{$website.content}" />
<div class="banner-wrap clearfix"></div>

<!-- 报名 -->

<article id="step1" style="display: none">
	<div class="user-login">
		<h3 class="fontb textc col000">在线报名</h3>
		<div class="wrap">
			<dl class="clearfix formstyle">
				<dt class="textr">手机</dt>
				<!--<dd><input type="text" name="utel" placeholder="请输入您的手机号" class="input1 phoneInput"></dd>-->
			</dl>
			<dl class="clearfix formstyle">
				<dt class="textr">验证码</dt>
				<dd>
					<input type="text" name="code" placeholder="请输入您的验证码" class="input1 codeInput">
					<a href="javascript:;" class="sendbtn">发送验证码</a>
				</dd>
			</dl>
			<a href="javascript:;" class="user-login-btn nextstep">下一步</a>

		</div>
	</div>
</article>

<!-- 报名 -->
<article id="step2">
	<div class="user-login">
		<h3 class="textc fontb font36 col000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报 名</h3>
		<div class="wrap">
			<dl class="clearfix formstyle">
				<dt class="textr">手机</dt>
				<dd><input type="text" name="utel" placeholder="请输入您的手机号" class="input1 phoneInput"></dd>
			</dl>
			<dl class="clearfix formstyle">
				<dt class="textr">名字</dt>
				<dd><input type="text" id="uname" name="uname" placeholder="请输入您的姓名" class="input1"></dd>
			</dl>
			<dl class="clearfix formstyle">
				<dt class="textr">公司</dt>
				<dd><input type="text" id="ucompany" name="ucompany" placeholder="请输入公司名称" class="input1"></dd>
			</dl>
			<dl class="clearfix formstyle">
				<dt class="textr">职务</dt>
				<dd><input type="text" id="uposition" name="uposition" placeholder="请输入目前职务" class="input1"></dd>
			</dl>
			<a href="javascript:;" id="submit" class="user-login-btn">提交</a>
		</div>
	</div>
</article>

<script type="text/javascript">
    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
//    var sendBtn = $('.sendbtn');
    var phoneInput = $('.phoneInput'); //手机号
//    var codeInput = $('.codeInput'); //验证码
//    var loginBtn = $('.user-login-btn'); //下一步

    // 判断手机号是否正确
    function isTel(phoneInput) {
        var valuePhone = phoneInput.val();
        if(valuePhone.length == 11 && myreg.test(valuePhone)) {
            return true;
        } else {
            alert("输入手机有误，请重新输入！");
            return false;
        }
    }

    // 倒计数
//    function timeCount(sendBtn) {
//
//        var wait = 59;
//        var time = setInterval(function() {
//            sendBtn.unbind();
//            sendBtn.text(wait + '秒后');
//            sendBtn.css('background', '#6f6e6e');
//            sendBtn.css('pointer-events','none');
//            sendBtn.css('cursor', 'wait');
//            wait--;
//            if(wait < 0) {
//                clearInterval(time);
//                sendBtn.text('重新发送');
//                sendBtn.css('background', '#ff0000');
//                sendBtn.css('cursor', 'pointer');
//                sendBtn.css('pointer-events','auto');
//                sendBtn.click(function() {
//                    timeCount(sendBtn)
//                })
//            }
//        }, 1000)
//    }

    // 下一步 验证  手机号 和验证码填写是否正确
    function mobileverification() {
        var tpl = $(".phoneInput").val();
        var mycode = $(".codeInput").val();
        var code = $("#code").val();
        if(!tpl) {
            alert('请输入电话号码');
            return false;
        }
        if(!mycode) {
            alert('请输入验证码');
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:url('ajax/step')}",
            data: {
                'utel': phoneInput.val(),
                'code':	mycode
            },
            dataType: 'json',
            async: true,
            success: function(res) {
                if(res.status == 1) {
                    //window.location.href = res.url;
                    //console.log(res);
                    $('#step1').hide();
                    $('#step2').show();
                }
                if(res.status == 0) {
                    alert(res.msg);
                    $('#step2').hide();
                    $('#step1').show();
                }
            },
            error: function(e) {
                console.log(e)
            }
        });
    }

    // 发送验证码
//    sendBtn.bind('touchstart',function(){
//        // 判断手机号是否正确
//        var phoneStuta = isTel(phoneInput);
//
//
//        if(phoneStuta) {
//            sendBtn.css('background', '#6f6e6e');
//            sendBtn.css('pointer-events','none');
//            sendBtn.css('cursor', 'wait');
//            $.ajax({
//                type: "post",
//                url: "{:url('ajax/send')}",
//                data: {
//                    'utel': phoneInput.val()
//                },
//                dataType: 'json',
//                async: true,
//                success: function(res) {
//                    if(res.status == 1) {
//                        // 执行倒计数
//                        timeCount(sendBtn)
//                    }else{
//                        alert(res.msg);
//                    }
//
//                },
//                error: function(e) {
//                    console.log(e)
//                }
//            });
//        }
//    });


    // 下一步
    $('.nextstep').click(function() {
        mobileverification();
    });

    //第二步
    $('#submit').click(function(){
        var tpl = $(".phoneInput").val();
//        var mycode = $(".codeInput").val();
//        var code = $("#code").val();
        var uname = $("#uname").val();
        var ucompany = $("#ucompany").val();
        var uposition = $("#uposition").val();
//        var upassword = $("#upassword").val();

        if(!tpl) {
            alert('请输入电话号码');
            return false;
        }
//        if(!mycode) {
//            alert('请输入验证码');
//            return false;
//        }
        if(!uname) {
            alert('姓名不能为空');
            return false;
        }
        if(!ucompany) {
            alert('公司不能为空');
            return false;
        }

        if(!uposition) {
            alert('职务不能为空');
            return false;
        }
//        if(ucompany.length <= 4) {
//            alert('请提交真实报名信息');
//            return false;
//        }
//        if(uposition.length <= 2) {
//            alert('请提交真实报名信息');
//            return false;
//        }
        if(!isChinese(ucompany)){
            alert('公司必须为中文');
            return false;
        }
//        if(!isChinese(uposition)){
//            alert('请提交真实报名信息');
//            return false;
//        }
        if(!isChinese(uname)){
            alert('姓名必须为中文');
            return false;
        }

        //来自哪里
        var ufrom = getUfrom('ufrom');

        $.ajax({
            type: "post",
            url: "{:url('ajax/apply')}",
            data: {
                'ufrom':ufrom,
                'utel':tpl,
                'uname': uname,
                'ucompany': ucompany,
                'uposition': $('#uposition').val()
            },
            dataType: 'json',
            async: true,
            success: function(res) {
                if(res.status == 1) {
                    alert(res.msg);
                    window.location.href = '/mobile';
                    console.log(res);
                }
                if(res.status == 0) {
                    alert(res.msg);
                }

                if(res.status < 0) {
                    alert(res.msg);
                }


            },
            error: function(e) {
                console.log(e)
            }
        });
    });
    function getUfrom(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

    function isChinese(str){
        if(/^[\u3220-\uFA29]+$/.test(str)){
            return true;
        }else{
            return false;
        }
    }

</script>
<include file="public/nfooter"/>