<!doctype HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" />
    <title>第七届创业者大会</title>
    <script src="__PUBLIC__/mobile/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    (function(e, t) { var i = document,
            n = window; var l = i.documentElement; var r, a; var d, o = document.createElement("style"); var s;

        function m() { var i = l.getBoundingClientRect().width; if (!t) { t = 540 } if (i > t) { i = t } var n = i * 100 / e;
            o.innerHTML = "html{font-size:" + n + "px;}" } r = i.querySelector('meta[name="viewport"]');
        a = "width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"; if (r) { r.setAttribute("content", a) } else { r = i.createElement("meta");
            r.setAttribute("name", "viewport");
            r.setAttribute("content", a); if (l.firstElementChild) { l.firstElementChild.appendChild(r) } else { var c = i.createElement("div");
                c.appendChild(r);
                i.write(c.innerHTML);
                c = null } } m(); if (l.firstElementChild) { l.firstElementChild.appendChild(o) } else { var c = i.createElement("div");
            c.appendChild(o);
            i.write(c.innerHTML);
            c = null } n.addEventListener("resize", function() { clearTimeout(s);
            s = setTimeout(m, 300) }, false);
        n.addEventListener("pageshow", function(e) { if (e.persisted) { clearTimeout(s);
                s = setTimeout(m, 300) } }, false); if (i.readyState === "complete") { i.body.style.fontSize = "16px" } else { i.addEventListener("DOMContentLoaded", function(e) { i.body.style.fontSize = "16px" }, false) } })(750, 750);
    </script>
    <link rel="stylesheet" href="__PUBLIC__/mobile/style/index.css">
</head>

<body>
    <header class="head">
        <img src="__PUBLIC__/mobile/index/logo.png" class="logo">
        <span class="fr">报名人数已超<span style="color: #fe5a2c">310</span>人</span>
    </header>
    <div class="sign">
        <div class="sign-box">
            <form>
                <div class="form-list">
                    <p class="tit">账号</p>
                    <input type="number" name="utel" class="phoneInput" placeholder="请输入手机号">
                </div>
                <div class="form-list">
                    <p class="tit">姓名</p>
                    <input type="text" id="uname" name="uname" placeholder="请输入姓名">
                </div>
                <div class="form-list">
                    <p class="tit">公司</p>
                    <input type="text" id="ucompany" name="ucompany" placeholder="请输入公司名称">
                </div>
                <div class="form-list">
                    <p class="tit">职务</p>
                    <input type="text" id="uposition" name="uposition" placeholder="请输入目前职务">
                </div>
                <p class="note">注：请提交报名者本人真实、准确信息。</p>
                <div class="text-center">
                    <button type="button" href="javascript:;" id="submit" class="submit">提交<img src="__PUBLIC__/mobile/index/w/right-white.png"></button>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
    //    var sendBtn = $('.sendbtn');
    var phoneInput = $('.phoneInput'); //手机号
    //    var codeInput = $('.codeInput'); //验证码
    //    var loginBtn = $('.user-login-btn'); //下一步

    // 判断手机号是否正确
    function isTel(phoneInput) {
        var valuePhone = phoneInput.val();
        if(valuePhone.length == 11 && myreg.test(valuePhone)) {
            return true;
        } else {
            alert("输入手机有误，请重新输入！");
            return false;
        }
    }

    // 下一步 验证  手机号 和验证码填写是否正确
    function mobileverification() {
        var tpl = $(".phoneInput").val();
        var mycode = $(".codeInput").val();
        var code = $("#code").val();
        if(!tpl) {
            alert('请输入电话号码');
            return false;
        }
        if(!mycode) {
            alert('请输入验证码');
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:url('ajax/step')}",
            data: {
                'utel': phoneInput.val(),
                'code':	mycode
            },
            dataType: 'json',
            async: true,
            success: function(res) {
                if(res.status == 1) {
                    //window.location.href = res.url;
                    //console.log(res);
                    $('#step1').hide();
                    $('#step2').show();
                }
                if(res.status == 0) {
                    alert(res.msg);
                    $('#step2').hide();
                    $('#step1').show();
                }
            },
            error: function(e) {
                console.log(e)
            }
        });
    }


    // 下一步
    $('.nextstep').click(function() {
        mobileverification();
    });

    //第二步
    $('#submit').click(function(){
        var tpl = $(".phoneInput").val();
//        var mycode = $(".codeInput").val();
//        var code = $("#code").val();
        var uname = $("#uname").val();
        var ucompany = $("#ucompany").val();
        var uposition = $("#uposition").val();
//        var upassword = $("#upassword").val();

        if(!tpl) {
            alert('请输入电话号码');
            return false;
        }
//        if(!mycode) {
//            alert('请输入验证码');
//            return false;
//        }
        if(!uname) {
            alert('姓名不能为空');
            return false;
        }
        if(!ucompany) {
            alert('公司不能为空');
            return false;
        }

        if(!uposition) {
            alert('职务不能为空');
            return false;
        }
//        if(ucompany.length <= 4) {
//            alert('请提交真实报名信息');
//            return false;
//        }
//        if(uposition.length <= 2) {
//            alert('请提交真实报名信息');
//            return false;
//        }
        if(!isChinese(ucompany)){
            alert('公司必须为中文');
            return false;
        }
//        if(!isChinese(uposition)){
//            alert('请提交真实报名信息');
//            return false;
//        }
        if(!isChinese(uname)){
            alert('姓名必须为中文');
            return false;
        }

        //来自哪里
        var ufrom = getUfrom('ufrom');

        $.ajax({
            type: "post",
            url: "{:url('ajax/apply')}",
            data: {
                'ufrom':ufrom,
                'utel':tpl,
                'uname': uname,
                'ucompany': ucompany,
                'uposition': $('#uposition').val()
            },
            dataType: 'json',
            async: true,
            success: function(res) {
                if(res.status == 1) {
                    alert(res.msg);
                    window.location.href = '/mobile';
                    console.log(res);
                }
                if(res.status == 0) {
                    alert(res.msg);
                }

                if(res.status < 0) {
                    alert(res.msg);
                }


            },
            error: function(e) {
                console.log(e)
            }
        });
    });
    function getUfrom(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

    function isChinese(str){
        if(/^[\u3220-\uFA29]+$/.test(str)){
            return true;
        }else{
            return false;
        }
    }

</script>
</html>