<!doctype HTML>
<html id="html">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
<title>第七届创业者大会</title>
	<link rel="stylesheet" href="/public/mobile/style/exhibition.css">
	<script src="__PUBLIC__/mobile/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    var html = document.getElementById('html');
    var phoneWidth = document.documentElement.clientWidth;
    html.style.fontSize = phoneWidth * 100 / 750 + 'px'
</script>


</head>
<body>
<header class="head">
	<img src="__PUBLIC__/mobile/index/logo.png" class="logo">
	<a href="Online.html"><button class="ticket fr">抢 票</button></a>
	<span class="fr">报名人数已超<span style="color: #fe5a2c">310</span>人</span>
</header>
	<div class="contentArea">
		<div class="headerNextImg"></div>
		<div class="showImg">
			<div class="imgBtn">
				<p class="titleName">展区规划图</p>
				<div class="blowContent">
					<img src="__PUBLIC__/mobile/index/s/showImg.png" alt="">
					<p class="goShower">
						<a href="/mobile/cooperation.html">成为展商</a>
						<img src="__PUBLIC__/mobile/index/s/goArrow.png" alt="">
					</p>
				</div>
			</div>
		</div>
		<div class="goEnterprise">
			<p class="titleItem">参展企业</p>
			<div class="enterpriseList">
				火热报名中
				<!--<ul>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/mobile/index/s/enterpiselogo.png" alt="">-->
						<!--<div class="name_position">-->
							<!--<p>华为技术有限公司</p>-->
							<!--<p>展位号：W1B01</p>-->
						<!--</div>-->
					<!--</li>-->

				</ul>
			</div>
		</div>
	</div>
	<include file="public/footer"/>
</body>
</html>