<!doctype HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
<title>第七届创业者大会</title>
    <link rel="stylesheet" href="/public/mobile/style/index.css">
    <script src="__PUBLIC__/mobile/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
var html = document.getElementsByTagName("html")[0];
var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
html.style.fontSize = oWidth/pwidth*prem + "px";
</script>
</head>
<body>
    <header class="head">
    	<img src="__PUBLIC__/mobile/index/logo.png" class="logo">
        <a href="Online.html"><button class="ticket fr">抢 票</button></a>
        <span class="fr">报名人数已超<span class="orange">129908</span>人</span>
    </header>
    <section class="mine">
        <div class="man">
            <div class="user">
                <img src="__PUBLIC__/mobile/index/w/mine-photo.png" class="photo">
                <div class="inline">
                    <div class="fl">
                        <p class="user-name">{$user.uname}</p>
                    <p class="user-desc">普通会员</p>
                    </div>
                    <div class="fr">
                        <button class="quit" onclick="loginOut()">退出</button>
                    </div>
                    
                </div>
            </div>
            <div class="btnlist">
                <div class="group">
                    <div class="list-info activit">邀请榜单</div>
                    <div class="list-info ">邀请好友列表</div>
                </div>
            </div>
        </div>
        <div class="groups">
            <ul class="list-ul">
                <li>
                    <img src="__PUBLIC__/mobile/index/w/mine-list1.png">
                    <p>{$rank}</p>
                    <div>当前排名</div>
                </li>
                <li>
                    <img src="__PUBLIC__/mobile/index/w/mine-list2.png">
                    <p>{:inviteNumber($user.ucode)}</p>
                    <div>已邀请人数</div>
                </li>
                <li>
                    <img src="__PUBLIC__/mobile/index/w/mine-list1.png">
                    <p>{:downNumber($user.ucode)}</p>
                    <div>已领票人数</div>
                </li>
            </ul>
            <div class="differ">
                <p class="fl mt">还差 <span class="orange">{:poorNumber($user.ucode)}</span>人即可升级VIP门票</p>
                <button class="goto fr">去邀请  <img src="__PUBLIC__/mobile/index/w/right-white.png" alt=""></button>
            </div>
            <p class="my-invit">邀请排行榜</p>
            <table class="table">
                <thead>
                    <th>排名</th>
                    <th>用户</th>
                    <th>邀请人数</th>
                </thead>
                <tbody>
                <volist name="sortlist" id="vo">
                    <tr>
                        <td>{$i}</td>
                        <td>{$vo.uname}</td>
                        <td>{$vo.invited}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        
    </section>
    <section class="dialog">
        <div class="dialog-box">
            <div class="plus">
                <img src="__PUBLIC__/mobile/index/w/mine-sun.png" class="sun"><br>
                <h1 class="dialog-tit">邀请好友</h1>
                <p class="dialog-text">生成本人专属邀请函，转发朋友圈。<br> 10名好友通过专属邀请函报名并领票后，<br>可升级为VIP门票。</p>
                <a href="user/checkTemplate"><button class="make-btn">生成邀请函</button></a>
                <p id="content" style="position: absolute;z-index: 0;right: 99rem">{$website.url}/mobile/online.html?ufrom={$user.ucode}</p>
                <button id="copyBT" data-clipboard-text="{$website.url}/mobile/online.html?ufrom={$user.ucode}" class="copy-btn">复制链接</button>
            </div>
            <div class="copy">
                <h1 class="copy-tit">邀请好友</h1>

                <p class="copy-text">复制链接发给好友，让大家知道这个<br>热血沸腾人，充满希望的集会</p>
                <img src="__PUBLIC__/mobile/index/w/close.png" class="close">
                <!--<div class="copy-link">http://7.ih.cn//online.html?ufrom=XA4U8</div>-->
                <button class="copy-this">复制链接</button>
                <p class="tip">赢VIP门票，创业大会大礼包</p>
            </div>
        </div>
    </section>
    <include file="public/footer"/>
    <script type="text/javascript">
        function loginOut(){

            $.ajax({

                type: "post",

                url: "{:url('/mobile/logout')}",

                data: {},

                dataType: 'json',

                async: true,

                success: function(res) {

                    if(res.status == 1) {

                        alert(res.msg);

                        window.location.href = '/';

                    }

                },

                error: function(e) {

                    console.log(e)

                }

            });

        }

        $(function(){
            $('.goto').click(function(){
                $('.dialog').show()
            })
            $('.make-btn').click(function(){
                $('.plus').hide()
                $('.dialog-box .copy').show()
            })
            $('.copy-this, .copy-btn').click(function(){
                $('.dialog').hide()
                $('.dialog-box .copy').hide()
                 $('.plus').show()
            })
        })

        function copyArticle(event) {
            const range = document.createRange();
            range.selectNode(document.getElementById('content'));

            const selection = window.getSelection();
            if(selection.rangeCount > 0) selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand('copy');
            alert("复制成功！");
        }
        document.getElementById('copyBT').addEventListener('click', copyArticle, false);
    </script>
</body>
</html>