<include file="public/nheader" title="我的资料" keywords="{$website.keywords}" description="{$website.content}" />
<div class="banner-wrap clearfix"></div>

<!-- 个人资料 -->
<article>
	<div class="centerdata-list">
		<ul>
			<li><span class="fl">姓名</span><span class="fr">{$detail.uname}</span></li>
			<li><span class="fl">手机</span><span class="fr">{$detail.utel}</span></li>
			<li><span class="fl">公司</span><span class="fr">{$detail.ucompany}</span></li>
			<li><span class="fl">职务</span><span class="fr">{$detail.uposition}</span></li>
			<li><span class="fl">微信</span><span class="fr">{$detail.uweixin}</span></li>
		</ul>
	</div>
</article>

<include file="public/nfooter" />