<!doctype HTML>
<html id="html">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
<title>第七届创业者大会</title>
	<link rel="stylesheet" href="/public/mobile/style/getTickets.css">
<script type="text/javascript">
    var html = document.getElementById('html');
    var phoneWidth = document.documentElement.clientWidth;
    html.style.fontSize = phoneWidth * 100 / 750 + 'px'
</script>
	<script src="__PUBLIC__/mobile/js/jquery-2.1.1.min.js"></script>
</head>
<body>
    <header class="head">
    	<img src="__PUBLIC__/mobile/index/logo.png" class="logo">
		<span>报名人数已超<i>129908</i>人</span>
		<a href="Online.html"><button class="ticket">抢 票</button></a>
	</header>
	<div class="contentArea">
		<p class="ticketTitle">领票点</p>
		<p class="lineBottom"></p>
		<div  class="tipsTicket">
			<p style="margin-top: 0.56rem;">请先报名，报名成功后持身份证到以下官方授权取票点换取纸质门票，一人一票不可带领。</p>
			<p style="margin-top: 0.28rem;"> 招商/投诉电话： <span style="color: #EA653D">0371-55555286</span></p>
		</div>
		<div class="placeList">
			<volist name="citylist" id="vo">
			<a href="{:url('/mobile/address/'.$vo.id)}" id="{$cityid}" <if condition="$vo.id eq $cityid">class="placeItem yellowColorItem"</if> class="placeItem ">{$vo.cityname}({$vo.count})</a>
			</volist>
		</div>
		<div class="DetailPlace">
			<volist name="list" id="vo">
			<div class="detailItem">
				<div class="ticketNum">
					<p>领票点{$i}</p>
					<p><span>余票: {$vo.store_amount - specTicket($vo.store_id)} </span><img src="__PUBLIC__/mobile/index/s/threeIcon.png" alt=""></p>
				</div>
				<p class="placeName">{$vo.store_address}</p>
			</div>
			</volist>
		</div>
	</div>
	<include file="public/footer"/>
</body>
</html>