<nav>

	<div class="nav-fotter clearfix">

		<ul class="clearfix">

			<li><a href="/mobile/index.html">首页</a></li>

			{:widget('widget/foot')}
			
			<li><a href="/mobile/page/2.html">议程</a></li>


			<li><a href="/mobile/online.html">报名</a></li>


			<!--<li><a href="/mobile/place.html">领票点</a></li>-->

			<!--<li><a href="/mobile/news.html">动态</a></li>-->

			<li class="active"><a href="/mobile/my.html">个人中心</a></li>

		</ul>

	</div>

</nav>
<a href="/mobile/cooperation.html" class="back-top" style="z-index: 999; position: fixed; right: 0.2rem; bottom: 2.24rem; display: block; text-align: center; line-height: 0.8rem; font-size: 0.22rem; color:#ffffff; width: 1rem; height: 1rem; background: rgba(0,0,0,0.5);border-radius: 100%">
	<img src="__PUBLIC__/mobile/images/robbtn2.png" style="width: 1rem;height: 1rem;">
</a>
<a href="/mobile/place.html" class="back-top" style="z-index: 999; position: fixed; right: 0.2rem; bottom: 1.1rem; display: block; text-align: center; line-height: 0.8rem; font-size: 0.22rem; color:#ffffff; width: 1rem; height: 1rem; background: rgba(0,0,0,0.5);border-radius: 100%">
	<img src="__PUBLIC__/mobile/images/robbtn1.png" style="width: 1rem;height: 1rem;">
</a>
<!--尾部-->

	<footer>

		<div class="footer">

			<div class="wrap">

				<img src="__PUBLIC__/home/images/fb.png" style="width:30%; height:30%;">

				<p class="textc font18 col868">©2005-2018 河南创业者大会版权所有 &nbsp;豫ICP备16026558号</p>

			</div>

		</div>

	</footer>

	</body>
<script>
	$(function () {
		var h = '';
		$('.sublist').on('touchstart', function () {
			if(!h){
				h = '-'+$(this).find('div').css('height')
			}
			var d = $(this).find('div')
			d.css('top',h)
			if(d.is(':visible')){
				d.hide()
			}else{
				d.show()
			}
		})
		$('.subforumTar').on('touchstart', function () {
			var url = $(this).attr('url');
			window.location.href= url;
		})
	})
</script>


</html>